
/*tag html */
header {
    color:whitesmoke;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px #00FFFF;

}
body {

    background-image: url("pemandangan.jpg!d");
    background-repeat: no-repeat;
    background-position: center top;
}
/*
table {
    border: 2px solid black;
    width: 50%;
    height: -750px;
} */

strong {
    color: whitesmoke;
}

#btnsrc {
    border-radius: 8px;
    color:black;
    border: 2px solid #00FFFF;
    padding: 10px 10px;
    background: #00FFFF;
    cursor: pointer;
    position: relative;
    left: -350px;
    outline:none;
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);
}

#txtsrc {
    border-radius: 8px;
    border: 2px solid #00FFFF;
    padding: 10px 24px;
    text-align: center;
    position: relative;/*mengatur posisi button*/
    left: -350px; /*mengatur posisi button*/
    outline:none;
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);
}

#btnadd{
    border-radius: 8px;
    color:black;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 33px;
}
/* ada id nya */
/*#btnclr{
    border-radius: 8px;
    color: black;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 24px;
}*/

#txtnama {
    border-radius: 8px;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 24px;
    text-align: center;
    outline:none;
}


#btnnim{
    border-radius: 8px;
    color:black;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 47px;
}

#txtnim {
    border-radius: 8px;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 24px;
    text-align: center;
    outline:none;
}

#btnnama{
    border-radius: 8px;
    color:black;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 40px;
}

#btnjk{
    border-radius: 8px;
    color:black;
    border: 2px solid  #e7e7e7; color: black;
    padding: 10px 10px;
    position: relative;/*mengatur posisi button*/
    left: -67px; /*mengatur posisi button*/
}

#btnagama{
    border-radius: 8px;
    color:black;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 36px;
    position: relative; /*mengatur posisi button*/
    left: -9px; /*mengatur posisi button*/
}

#btntmbh{
    border-radius: 95px 50px 95px;
    color:black;
    border: 2px solid #070707;
    padding: 10px 36px;
    background: #d8f89c;
    cursor: pointer;
    outline:none;
}

#btnubah{
    border-radius: 8px;
    color:black;
    border: 2px solid #070707;
    padding: 10px 36px;
    background: #d8f89c;
    cursor: pointer;
    outline:none;
    
}

#btnclear{
    border-radius: 25px 50px 25px;
    color:black;
    border: 2px solid #070707;
    padding: 10px 36px;
    background: #d8f89c;
    cursor: pointer;
    outline:none;
}

#agmslct{
    border-radius: 8px;
    border: 2px solid #e7e7e7; color: black;
    padding: 10px 50px;
    text-align: center;
    cursor: pointer;
    outline:none;
}

#radiobtnl{
    cursor: pointer;
}

#radiobtnp{
    cursor: pointer;
}


/* ada id nya */

 /* #listactivity{
    table-layout: auto;
} */
